*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Outfit";
}

@font-face{
  font-family: "Outfit";
  src: url(../fonts/Outfit-Bold.ttf);
  font-weight: 700;
}

@font-face{
  font-family: "Opens Sans";
  src: url(../fonts/Outfit-Light.ttf);
  font-weight: 300;
}