.site__footer{
  padding: 100px;
}

.footer__content-section{
  max-width: 1140px;
  height: 164px;
  background-color: var(--purple-color);
  border-radius: 20px;
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content-section-title{
  max-width: 400px;
  font-family: Outfit;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: var(--white-color);
}

.footer__content-section-btn{
  width: 193px;
  height: 60px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  color: var(--purple-color);
  background-color: var(--white-color);

  &:hover{
    color: var(--white-color);
    background-color: var(--purple-color);
    border: 1.5px solid var(--white-color);
  }
}

.footer__content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.footer__p-text{
  margin-bottom: 10px;
}

.footer__link{
  font-family: Outfit;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  color: var(--black-color);

  &:hover{
    color: var(--purple-color);
  }
}